body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
fieldset,
img,
input,
button {
  border: 0;
  background: none;
}
:link,
:visited {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
html{ width: 100%; height: 100%; overflow: hidden;}
body {
  height: 100%;
  font-family: "微软雅黑";
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  background: url(../images/pcbg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  font-size: 62.5%;
}
img{ width: 100%}
h1 a{ color: #fff}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea {  -webkit-appearance: none;}   
.button{ border-radius: 0; } 
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.no-border{border: none!important;}


/*body*/
::-webkit-scrollbar{display:none;}
.phoneContent{
  position: absolute; 
  width: 468px;
  left: 35%;
  margin-left: -130px;
  height: 641px !important;
  top: 50%;
  margin-top: -370px;
}
.phoneBox{
  padding:75px 18px 84px 22px;
  width: 282px;
  height: 495px;
  float: left;
  position: relative;
  overflow: hidden;
  background:url(../images/phonebg.png); 
  background-size: cover;
}
.phonemag{
  position: absolute;
  top: 75px;
  width: 282px;
  height: 20px;
  background: url(../images/phonemag.png) center no-repeat;
  z-index: 100; 
  
}
.ctrl_paging{
  float: left;
  margin-top: 300px;
  margin-left: -2px;
  width: 48px;
}
.ctrl_paging a{
  margin-top: 22px;
  padding: 18px 10px;
  display: block;
  width: 20px;
  height: 58px;
  background: #000;
  opacity: 0.6;
  filter:alpha(opacity=50); 
  border-top-right-radius:5px; 
  border-bottom-right-radius:5px;
  text-align: center;
  font-family: "微软雅黑";
  line-height: 18px;
  font-size: 18px;
  font-weight: 300; 
  color: #fff;
  cursor: pointer;
}
.ctrl_paging a:hover{
  background: #ff8c40;
  filter:alpha(opacity=100); 
  opacity: 1;

}
.code{
    position: relative;
    float: left;
    left: 30%;
    top: 50%;
    margin-right: -120px;
    margin-top: -80px;
}
.code img{
  *width: 220px;
  *height: 220px;
}
.qrcode{
    background: #fff;
    box-shadow: 0 0 0 8px rgba(0,0,0,.3);
    border-radius: 1px;
    margin-bottom: 18px;
}
.code a{
    display: block;
    width: 100%;
    *width: 220px;
    height: 32px;
    text-align: center;
    font-size: 22px;
    color: #fff;
  }
.pctip{
  position: relative;
  clear: both;
  top: 30px;
  height: 50px;
  line-height: 48px;
  width: 160%;
  background: url(../images/tipbg.png);
  border-radius: 8px;
  font-size: 16px;
  color: #9ecbe5;
  font-weight: 200;
  text-align: center;
}
.f-anim{-webkit-transition:all .2s linear;}
.wrapper{
  height: 100%;
}
section:nth-child(1){
  z-index: 2;
}
section{
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section ul{ color: #fff; display: none; z-index: 1; position: relative;}
section:nth-child(1) ul{display: block;}
.bodybg{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}
.bodybg img{
  display: block;
  width: 100%;
  height: 100%;
}

/* comment style */
.animate .animate-item{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#audio_btn {
  position: absolute;
  right: 28px;
  top: 85px;
  z-index: 200;
  display: none;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.rotate {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  background-image: url("../images/musicbg.png");
  -webkit-animation: rotating 1.2s linear infinite;
  -moz-animation: rotating 1.2s linear infinite;
  -o-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
  -webkit-animation: rotating 1.2s linear infinite;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotating {
    from{
        -moz-transform: rotate(0deg);
    }
    to{
        -moz-transform: rotate(360deg);
    }
}
.play_yinfu {
  background-image: url(../images/music.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
}
.off {
  background-image: url(../images/musicbg.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
.u-arrow-bottom{
  display: none;
  position: absolute;
  bottom: 1em;
  left: 50%;
  z-index: 150;
  width: 3em;
  height: 3em;
  margin-left: -1.5em;
  background-image: url(../images/hover.png);
  background-size: cover;
  -webkit-animation: start 1.5s infinite ease-in-out;
  -moz-animation: start 1.5s infinite ease-in-out;
  animation: start 1.5s infinite ease-in-out;
}
.l-arrow-bottom{
  background-image: url(../images/lhover.png);
  -webkit-animation: lstart 1.5s infinite ease-in-out;
  -moz-animation: lstart 1.5s infinite ease-in-out;
  animation: lstart 1.5s infinite ease-in-out;
  right: 1.5em;
  top: 50%;
  margin-top: -1.5em;
  left: auto;
}
section:nth-child(1) .u-arrow-bottom{
  display: block;
}
section:nth-child(1) .l-arrow-bottom{
  display: block;
}
.mark{background:#262626; width: 100%; height: 100%; position:absolute; left: 0; top: 0; z-index: 1000;}
.mark img{ 
  margin: auto;  
  position: absolute;  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.stretch img{
  height: 100%;
  width: auto;
}

.animate-item {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInLeft {
  
}
.positionTop{
  transition:all 0.4s;
  -moz-transition:all 0.4s; /* Firefox 4 */
  -webkit-transition:all 0.4s; /* Safari and Chrome */
  -o-transition:all 0.4s; /* Opera */
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination {
  position: absolute;
  display: none;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
#audio_btn.rightKm{right: 62px;}
#talk_btn{ 
  position: absolute;
  right: 26px;
  top: 95px;
  z-index: 2000;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/talk.png");
}
.talkContent{
  position: absolute;
  width: 282px;
  height: 495px;
  left: 100%;
  background: #28b87d;
  z-index: 3000;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;
}
.rightShow{
  left: 22px;
}

.dumb {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10px;
  top: 10px;
  background-image: url("../images/dumb.png");
  background-size: 100%;
}
.commentTitle {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 50px;
  bottom: 90px;
  line-height: 40px;
  color: white;
  font-size: 14px;
}
.commentWrap {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 90px;
  bottom: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.commentBtm {
  background: #53c697;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
}
.commentInput {
  width: 65%;
  height: 30px;
  line-height: 30px;
  margin-left: 5%;
  margin-top: 10px;
  padding: 0 20% 0 5%;
  background: #fff;
  font-size: 14px;
  color: black;
  font-family: "微软雅黑";
  border: none;
  border-radius: 0;
}
.commentSubmit {
  background: #0f8e5a;
  position: absolute;
  height: 30px;
  line-height: 30px;
  width: 20%;
  top: 10px;
  right: 3%;
  color: white;
  font-size: 1.4em;
  text-align: center;
}
.comment-list{
    width: 100%;
    border-top: 1px solid #48c390;
    position: relative;
    overflow: hidden;
}
.comment-list img{ 
  position: absolute;
  width: 36px;
  height: 36px;
  left: 0;
  top: 5px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
}
.comment-list .comment-word{
  min-height: 30px;
  margin: 10px 0;
  padding-left: 50px;
  line-height: 22px;
  font-size: 1em;
}

.comment-list .user-name{  
  font-size: 1.2em; 
  color: #000; 
  line-height: 1.4em
}
.comment-list .words{
  font-size: 1.2em;
  color: #fff;
}
/*alerts-ui*/
.popup {
  display: none;
  position: fixed;
  max-width: 1000em;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  overflow-y: auto;
  background: url(images/popbg.png) 0 0 repeat;
  background: rgba(0,0,0,.7);
}
.popup-overflow{overflow: hidden;}
.ui-confirm {
  width: 22em;
  position: relative;
  top: 2em; 
  margin: 0 auto;
  padding:0 1em;
  background: #f1f1f1;
  box-shadow: 0 0 0 0.5em rgba(255,255,255,.3);
}
.ui-confirm-title {
  margin-bottom: 1em;
  font-size: 1.4em;
  line-height: 2.8em;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.ui-input.popup-dialog{
  font-size: 1.2em; color: #333;
}
.ui-confirm-submit, .ui-confirm-cancel {
  font-size: 1.2em;
  color: #333;
  float: right;
  display: block;
  padding: 0 2em;
  margin-bottom: 2em;
  line-height: 2.5em;
  background: #ddd;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);
}
#ietip{z-index: 1000;position: absolute; left: 0px; top: 0px;width: 100%; height: 100%;}
.swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  /* Fix of Webkit flickering */
  z-index:1;
}
.swiper-slide {
  float: left;
}
