.aestheticism1 ul {
  padding: 2em 8%;
  position: absolute;
  bottom: 6em;
  left: 0;
  display: block;
  overflow: hidden;
}
/* title */
.aestheticism1 ul li:nth-child(1) {
  color: #fff;
  font-size: 2em;
  padding: 0.1em;
  border :1px solid #fff;
  text-align: center;
}
/* descript */
.aestheticism1 ul li:nth-child(2) {
  color: #fff;
  width: 100%;
  font-size: 1.5em;
  line-height: 40px;
}
