.almighty1 ul {
  padding: 2em 0;
  position: absolute;
  bottom: 35%;
  left: 0;
  display: block;
}
/* title */
.almighty1 ul li:nth-child(1) {
  width: 80%;
  color: #fff;
  font-size: 4em;
  background: rgba(0,0,0,0.3);
  padding: 0.3em 0 0.3em 0.3em;
}

