.almighty3 ul {
  width: 80%;
  position: absolute;
  top: 5.5em;
  left: 8%;
  padding: 2%;
  display: block;
  /*-webkit-border-image: url(../images/border2.png) 0 0 stretch;*/
  -webkit-border-image: url(http://tpic.home.news.cn/xhCloudNewsPic/xhpic001/M02/92/67/wKhTg1T_6OYEAAAAAAAAAAAAAAA365.jpg) 0 0 stretch;
}
/* title */
.almighty3 ul li:nth-child(1) {
  width: 88%;
  padding: 0.5em 6%;
  color: #fff;
  font-size: 3em;
  background: rgba(0,0,0,0.3);
}
/* descript */
.almighty3 ul li:nth-child(2) {
  color: #fff;
  width: 88%;
  font-size: 1.5em;
  line-height: 24px;
  text-align: left;
  background: rgba(0,0,0,0.3);
  padding: 0.3em 6% 0.8em;
}

