/*
//后台预览添加样式
.atlas1Cont img{display:block;}

*/

.atlas1Cont{position: relative; z-index: 1; width: 100%; height: 50%;}

.atlas1Cont .atlas1img1{
	position: absolute;
	top: 1em;
	transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
}
.atlas1Cont .atlas1img2{
	position: absolute;
	top: 10em;
}
.atlas1Cont .atlas1img3{
	position: absolute;
	top: 4em;
	left: 40%;
	transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
}
.atlas1Cont img{
	position: absolute;
	display:none;
	width: 45%;
	border: 2px #fff solid;
	top: -100%;
}
.atlasList{ width: 100%; height: 33%}
.atlasList img{display: block; width: 100%; height: 100%;}
.atlas3Cont{ width: 90%; height: 95%; margin: 5%;}

#atlas2Cont{ width:100%; height:88%; position: absolute; }
.atlas2Cont img{position: absolute;  height: 70%; bottom: 4em; width: 70%; margin: 0% 15%;  display: block;  }
.atlas2img1{
	
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}
.atlas2img2{
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.atlas2img3{
	
}

#atlas2Cont{}
canvas{display: block; margin: auto;}
p{ text-align: center;}
.atlas2 ul{  
	bottom: 2em;
   position: absolute;
   width: 70%;
   left: 10%;
 
} 
.atlas2 ul li{
  width: 92%;
  padding: 4%;
  margin-top: .5em;
  font-size: 2em;
  color: #fff;
  background: rgba(0,0,0,0.3);
}
  .atlas1 ul {
  	position: absolute;
  	bottom: 1em;
  	background: rgba(0,0,0,0.3);
  	font-size: 1.8em;
  	padding: 1em;
  }
  .atlas1 ul li:nth-child(1){
  	font-size: 1.2em;
  };