section{
	width: 322px;
	height: 486px;
	background: #fc0;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
}
.bodybg{
	position: absolute;
	top: 0;
	left: 0;
}
.bodybg img{
	width: 100%;
}
section ul{
	width: 90%;
	height: 90%;
	padding: 5%;
	position: absolute;
	top: 0;
	left: 0;
}
#con_title{
	color: #fff;
	font-size: 2rem;
	text-align: center;
	margin-top: 10%;
}
#con_line{
	width:100%;height: 1px;background:rgba(255,255,255,0.8);margin: 6% 0 12%;
}
#con_pic{
	display: inline-block;
	width: 70%;/* 46% */
	border: 5px solid #fff;
	float:right;
}
#con_pic img{vertical-align: middle;}
#con_text{
	display: inline-block;
	width: 50%;/* 40% */
	color: #fff;
	font-size: 0.9rem;
	padding: 5%;
	background: rgba(0,0,0,0.6);
	margin-bottom: 12%;
}
#con_text:first-letter{
	font-size: 1.2rem;
}
