.forgotten-corner1 ul {
  width: 100%;
  height: 80%;
  position: absolute;
  padding: 0%;
  bottom: 4em;
  display: block;
  overflow: hidden;
}
/* title */
.forgotten-corner1 ul li:nth-child(2) {
  width: 88%;
  padding: 0.2em 6% 0;
  font-size: 2.5em;
  color: #fff;
  text-align: left;
}
/* descript */
.forgotten-corner1 ul li:nth-child(3) {
  width: 88%;
  padding: 0 6%;
  color: #fff;
  font-size: 1.5em;
  line-height: 24px;
  text-align: left;
}
.forgotten-corner1 ul li:nth-child(3) p{
  text-align: left;
}
/* picture */
.forgotten-corner1 ul li:nth-child(1) {
  width: 80%;
  height: auto;
  /*background: url(http://tpic.home.news.cn/xhCloudNewsPic/xhpic001/M02/88/AC/wKhTg1T5Dl4EAAAAAAAAAAAAAAA371.jpg) no-repeat;*/
  /*background:url(../images/corner2.png) no-repeat;*/
  /*background-size: contain;*/
  border: 0.5em solid #c8c8ca;
  margin-left: 8%;
}
.forgotten-corner1 ul li:nth-child(1) img {
  width: 100%;
  height: auto;
  display: block;
}
