.joy-cartoon1 ul {
  width: 90%;
  height: 75%;
  padding: 2em 5%;
  position: absolute;
  bottom: 4em;
  left: 0;
  display: block;
}
/* title */
.joy-cartoon1 ul li:nth-child(1) {
  width: 90%;
  padding: 6%;
  color: #ef4d50;
  font-size: 2.5em;
  /*background: url(../images/cartoon-bg.png) no-repeat;*/
  background: url(http://tpic.home.news.cn/xhCloudNewsPic/xhpic001/M01/8D/52/wKhTglT9VgsEAAAAAAAAAAAAAAA806.jpg) no-repeat;
  background-size: contain;
  margin-top: 2em;
  text-align: left;
}
/* descript */
.joy-cartoon1 ul li:nth-child(2) {
  color: #ef4d50;
  width: 100%;
  font-size: 1.5em;
  line-height: 25px;
  margin-top: 2em;
  text-align: left;
}
.joy-cartoon1 ul li:nth-child(2) p{
  text-align: left;
}
