.notes1 ul {
  width: 90%;
  height: 72%;
  position: absolute;
  bottom: 1.5em;
  left: 5%;
  display: block;
  overflow: hidden;
}
/* title */
.notes1 ul li:nth-child(1) {
  width: 75%;
  margin-top: 16%;
  font-size: 2em;
  color: #fff;
  line-height: 1.4em;
  font-weight: bold;
  text-align: left;
}
