.notes2 ul {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
}
/* title */
.notes2 ul li:nth-child(2) {
  width: 86%;
  color: #000;
  font-size: 2.5em;
  position: absolute;
  bottom: 6em;
  left: 7%;
  z-index: 6;
}
/* descript */
.notes2 ul li:nth-child(3) {
  color: #000;
  width: 86%;
  font-size: 1.6em;
  line-height: 24px;
  position: absolute;
  bottom: 1.5em;
  left: 7%;
  z-index: 6;
  text-align: left;
  height: 8em;
}
.notes2 ul li:nth-child(3) p{
  text-align: left;
}
/* picture */
.notes2 ul li:nth-child(1) {
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  top: 7.2em;
}
.notes2 ul li:nth-child(1) img {
  width: 100%;
}
/* picture-mark */
.notes2 ul li:nth-child(4) {
  width: 100%;height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  /*background: url(http://tpic.home.news.cn/xhCloudNewsPic/xhpic001/M02/88/AC/wKhTg1T5Dl4EAAAAAAAAAAAAAAA371.jpg) no-repeat;*/
  /*background:url(../images/notes2.png) no-repeat;*/
  /*background-size: contain;*/
}
.notes2 ul li:nth-child(4) img{
  display: block;
  vertical-align: middle;
}
/* 动画持续时间 */
.notes2 ul li.narrowing{
-webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}