.science3 ul {
  width: 70%;
  height: 50%;
  padding: 5%;
  position: absolute;
  top: 10em;
  left: 10%;
  display: block;
  background: rgba(255,255,255,0.3);
}
/* title */
.science3 ul li:nth-child(1) {
  width: 70%;
  color: #333;
  padding: 3% 0;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgba(255,255,255,0.3);
  margin: 0 auto;
}
/* descript */
.science3 ul li:nth-child(2) {
  width: 74%;
  color: #666;
  font-size: 1.4em;
  line-height: 22px;
  text-align: left;
  margin-top: 0.8em;
  margin-left: 13%;
}
.science3 ul li:nth-child(2) p{
  text-align: left;
}
