.science1 ul {
  width: 90%;
  padding: 2em 5%;
  position: absolute;
  bottom: 10em;
  left: 0;
  display: block;
}
/* title */
.science1 ul li:nth-child(1) {
  width: 50%;
  padding: 1%;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  border: 1px solid rgba(255,255,255,0.3);
  margin: 0 auto;
  position: absolute;
  top: -0.3em;
  left: 50%;
  margin-left: -26%;
}
/* descript */
.science1 ul li:nth-child(2) {
  color: #fff;
  width: 80%;
  margin-top: 0.8em;
  margin-left: 5%;
  font-size: 1.5em;
  line-height: 22px;
  text-align: left;
  border: 1px solid rgba(255,255,255,0.3);
  margin: 0 auto;
  padding: 4%;
}
.science1 ul li:nth-child(2) p{
  text-indent: 1em;
  text-align: left;
}
