.science4 ul {
  width: 80%;
  padding: 5%;
  position: absolute;
  top: 61%;
  left: 5%;
  display: block;
}
/* title */
.science4 ul li:nth-child(1) {
  width: 60%;
  color: #fff;
  font-size: 2.5em;
  padding: 2% 0;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgba(255,255,255,0.3);
  margin: 0 auto 1em;
}
/* descript */
.science4 ul li:nth-child(2) {
  color: #fff;
  font-size: 1.4em;
  line-height: 22px;
  text-align: left;
  margin-top: 0.8em;
}
.science4 ul li:nth-child(2) p{
  text-align: left;
}
