/*.sound-pic2 ul {
  width: 100%;
  padding: 2em 0;
  position: absolute;
  bottom: 10em;
  left: 0;
  display: block;
}*/
/* title */
/*.sound-pic2 ul li:nth-child(1) {
  width: 65%;
  color: #333;
  font-size: 2.5em;
  padding: 5% 5% 5% 20%;
  text-align: left;
  font-weight: bold;
  background: rgba(70,70,70,0.3);
}*/
/* title_ */
/*.sound-pic2 ul li:nth-child(2) {
  width: 65%;
  padding: 0 5% 5% 20%;
  font-size: 1.5em;
  color: #666;
  background: rgba(70,70,70,0.3);
}*/
/* descript */
/*.sound-pic2 ul li:nth-child(3) {
  color: #666;
  width: 80%;
  margin-top: 0.5em;
  margin-left: 10%;
  font-size: 1.5em;
  line-height: 22px;
  text-align: center;
}*/
/*.sound-pic2 ul li:nth-child(3) p{
  text-align: center;
}*/
