.sound-pic3 ul {
  width: 50.6%;
  height: 48%;
  padding: 5%;
  position: absolute;
  top: 9em;
  left: 19.5%;
  background: rgba(255,255,255,0.5);
  display: block;
}
/* title */
.sound-pic3 ul li:nth-child(1) {
  width: 100%;
  color: #333;
  font-size: 2.5em;
  text-align: left;
  font-weight: bold;
}
/* descript */
.sound-pic3 ul li:nth-child(2) {
  color: #666;
  font-size: 1.4em;
  line-height: 22px;
  text-align: left;
}
.sound-pic3 ul li:nth-child(2) p{
  text-align: left;
}
