.technology4 ul {
  width: 80%;
  padding: 5%;
  position: absolute;
  bottom: 8em;
  left: 5%;
  display: block;
}
/* title */
.technology4 ul li:nth-child(1) {
  color: #f2a52e;
  font-size: 2.5em;
  text-align: left;
  font-weight: bold;
}
/* descript */
.technology4 ul li:nth-child(2) {
  clear: both;
  color: #cccc37;
  font-size: 1.4em;
  line-height: 22px;
  text-align: left;
  margin-top: 0.8em;
}
.technology4 ul li:nth-child(2) p{
  text-align: left;
}
