.technology1 ul {
  width: 90%;
  padding: 2em 5%;
  position: absolute;
  bottom: 10em;
  left: 0;
  display: block;
}
/* title */
.technology1 ul li:nth-child(1) {
  width: 80%;
  padding: 0 5%;
  color: #333;
  font-size: 2.5em;
  text-align: left;
  font-weight: bolder;
}
/* descript */
.technology1 ul li:nth-child(2) {
  color: #666;
  width: 80%;
  margin-top: 0.8em;
  margin-left: 5%;
  font-size: 1.5em;
  line-height: 22px;
  text-align: left;
}
.technology1 ul li:nth-child(2) p{
  text-indent: 1em;
  text-align: left;
}
