.tradition1 ul {
  width: 90%;
  height: 80%;
  padding: 2em 5%;
  position: absolute;
  bottom: 0em;
  display: block;
}
/* pic */
.tradition1 ul li:nth-child(1){
  width: 18em;
  height: 18em;
  text-align: center;
  line-height: 31em;
  margin: 0 auto 1em;
  -webkit-border-image: url(http://tpic.home.news.cn/xhCloudNewsPic/xhpic001/M08/84/ED/wKhTglT2ci4EAAAAAAAAAAAAAAA135.jpg) 30 30 stretch;
  /*width: 21.7em;
  height: 17.7em;
  padding-left: 5em;
  padding-top: 1.2em;
  margin: 6em auto 0.2em;
  -webkit-border-image: url(../images/border.png) 30 30 stretch;*/
}
.tradition1 ul li:nth-child(1) img{
  width: 14.2em;
  height: 14.2em;
  border-radius: 50%;
}
/* title */
.tradition1 ul li:nth-child(2){
  width: 7%;
  height: 7em;
  float: right;
  padding-left: 0.5em;
  margin-right: 24%;
  font-size: 2em;
  font-weight: bold;
  border-left: 1px solid #c4c8cc;
  color: #333;
}
/* descript */
.tradition1 ul li:nth-child(3){
  margin:0 auto;
  width: 40%;
  float: left;
  font-size: 1.5em;
  margin-left: 23%;
  color: #333;
  /*-webkit-column-count: 4;
  -webkit-column-gap: 15px;
  -webkit-column-rule: 1px solid #c4c8cc;*/
}
.tradition1 ul li:nth-child(3) p{
  width: 18%;
  padding-left:5%; 
  float: right;
  border-left: 1px solid #c4c8cc;
}

/* animate-bg */
.tradition1 ul li:nth-child(4){
  position: absolute;
  bottom: 0;
  left: 0;
  
}
.tradition1 ul li:nth-child(4) img{
  width: 100%;
  display: block;
}
.tradition1 ul li:nth-child(5){
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.tradition1 ul li:nth-child(5) img{
  width: 100%;
  display: block;
}

/*.u-arrow-bottom{
  background: url(../images/sm.jpg) no-repeat;
}*/

/* 动画持续时间 */
.tradition1 .duration1 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.tradition1 .duration2 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}