.tradition4 ul {
  width: 100%;
  height: 78%;
  position: absolute;
  bottom: 0em;
  display: block;
  overflow: hidden;
}
/* title */
.tradition4 ul li:nth-child(2) {
  width: 100%;
  margin-top: 6em;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: #333;
}
/* descript */
.tradition4 ul li:nth-child(3) {
  width: 70%;
  color: #333;
  font-size: 1.5em;
  line-height: 22px;
  margin-left: 15%;
  margin-top: 3.5em;
  text-align: center;
}

/* picture */
.tradition4 ul li:nth-child(1) {
  width: 30%;
  margin-left: 35%;
}
.tradition4 ul li:nth-child(1) img {
  width: 100%;
  display: block;
}

/* animate-bg */
.tradition4 ul li:nth-child(4){
  position: absolute;
  bottom: 0;
  left: 0;
  
}
.tradition4 ul li:nth-child(4) img{
  width: 100%;
  display: block;
}
.tradition4 ul li:nth-child(5){
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.tradition4 ul li:nth-child(5) img{
  width: 100%;
  display: block;
}

/* 动画持续时间 */
.tradition4 .duration1 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.tradition4 .duration2 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


