.winter ul {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
}
/* title */
.winter ul li:nth-child(1) {
  color: #20515c;
  font-size: 2.5em;
  text-decoration: underline;
  position: absolute;
  top: 2.8em;
  left: 35%;
  z-index: 6;
}
/* descript */
.winter ul li:nth-child(2) {
  color: #20515c;
  width: 60%;
  font-size: 1.5em;
  line-height: 25px;
  position: absolute;
  top: 7em;
  left: 35%;
  z-index: 6;
  text-align: left;
}
.winter ul li:nth-child(2) p{
  text-align: left;
}
/* picture */
.winter ul li:nth-child(3) {
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  bottom: 5.8em;
}
.winter ul li:nth-child(3) img {
  width: 100%;
  /*-webkit-transform:rotate(5deg);*/
}
/* picture-mark */
.winter ul li:nth-child(4) {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
}
.winter ul li:nth-child(4) img{
  vertical-align: middle;
}
/* 动画持续时间 */
.winter ul li.narrowing{
-webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}