.zen-tea3 ul {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0.5em;
  display: block;
  overflow: hidden;
}
/* title */
.zen-tea3 ul li:nth-child(1) {
  width: 80%;
  margin-left: 10%;
  font-size: 4em;
  color: #344644;
  text-align: center;
}
/* descript */
.zen-tea3 ul li:nth-child(2) {
  width: 13em;
  height: 10em;
  color: #344644;
  font-size: 2em;
  padding-top: 3em;
  margin: 1em auto 0;
  background: #879c9a;
  border: 1px solid #9a9687;
  border-radius: 50%;
  text-align: center;
}
.zen-tea3 ul li:nth-child(2) p{
  text-align: center;
}



